body {
    overflow-x: hidden;
    background-color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.backgroundcolor1 {
    width: 100%;
    height: 500px;
    background: url(photo/3.jpg);
}

.backgroundcolor2 {
    background-color: #FFFFFF;
    width: 100%;
}

.backgroundcolor3 {
    background-color: #F1F1F1;
    width: 100%;
}

.backgroundcolor4 {
    background: url(photo/2.jpg);
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header {
    width: 100%;
    height: 50px;
    background: url(photo/3.jpg);   
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.Links {
    height: 50px;
    width: 100px;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: -4px;

}

.Links:hover {
    color: #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 50px;
    width: 125px;
    transition-duration: 1.2s;
    

}

.header-text {
    text-align: center;
    margin-top: 10px;
}

.start-page {
    margin-top: 70px;
    text-align: center;
    color: #FFFFFF;
    font-size: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bot {
    font-size: 40px;
    margin-top: 40px;
}

.main-button {
    font-size: 25px;
    margin-top: 40px;
    color:#FFFFFF;
    text-align: center;
    padding: 12px;
}

.block2 {
    display: inline-block;
    width: 700px;
    height: 400px;
    margin: 70px 100px 30px 250px;
    vertical-align: middle;
}

.text-h1 {
    text-align: left;
    font-size: 38px;
    margin-top: 0px;
}

.text-h2 {
    text-align: left;
    font-size: 18px;
    margin-top: 40px;
}

.text-h3 {
    text-align: left;
    font-size: 15px;
    margin-top: 40px;
    color: #676767;
}

.anchor1 {
    display: inline-block;
    font-size: 200px;
    color: #EB4C42;
    vertical-align: middle  ;
}

.block3 {
    width: 700px;
    height: 400px;
    margin-left: 50px;
    margin-top: 70px;
    display: inline-block;
    vertical-align: middle;
}

.cup {

    font-size: 200px;
    display: inline-block;
    color: #EB4C42;
    vertical-align: middle;
    padding-left: 300px;
}

.footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 250px;
    padding: 16px
}

 .moders {
    padding-top: 150px;
    text-align: center;
 }

 .together1 {
     width: 100%;
     vertical-align: middle ;
 }

 .together2 {
    width: 100%;
    vertical-align: middle ;
    display: table;
    margin: auto;
}

.a {
    color: #FFFFFF ;
}
